<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Ece_dept_Miniproject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>studentlogin</display-name>
    <servlet-name>studentlogin</servlet-name>
    <servlet-class>ece.dept.services.studentlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentlogin</servlet-name>
    <url-pattern>/studentlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SEteacherlogin</display-name>
    <servlet-name>SEteacherlogin</servlet-name>
    <servlet-class>ece.dept.services.SEteacherlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SEteacherlogin</servlet-name>
    <url-pattern>/SEteacherlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TEteacherlogin</display-name>
    <servlet-name>TEteacherlogin</servlet-name>
    <servlet-class>ece.dept.services.TEteacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TEteacherlogin</servlet-name>
    <url-pattern>/TEteacherlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TEteacherslogin</display-name>
    <servlet-name>TEteacherslogin</servlet-name>
    <servlet-class>ece.dept.services.TEteacherlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TEteacherslogin</servlet-name>
    <url-pattern>/TEteacherslogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TETeacherslogin</display-name>
    <servlet-name>TETeacherslogin</servlet-name>
    <servlet-class>ece.dept.services.TETeacherslogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TETeacherslogin</servlet-name>
    <url-pattern>/TETeacherslogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BEteacherlogin</display-name>
    <servlet-name>BEteacherlogin</servlet-name>
    <servlet-class>ece.dept.services.BEteacherlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BEteacherlogin</servlet-name>
    <url-pattern>/BEteacherlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSEstudent</display-name>
    <servlet-name>AddSEstudent</servlet-name>
    <servlet-class>ece.dept.services.AddSEstudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSEstudent</servlet-name>
    <url-pattern>/AddSEstudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addsestudent</display-name>
    <servlet-name>Addsestudent</servlet-name>
    <servlet-class>ece.dept.services.AddSEstudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addsestudent</servlet-name>
    <url-pattern>/Addsestudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTEstudent</display-name>
    <servlet-name>AddTEstudent</servlet-name>
    <servlet-class>ece.dept.services.AddTEstudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTEstudent</servlet-name>
    <url-pattern>/AddTEstudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registrationdetails</display-name>
    <servlet-name>Registrationdetails</servlet-name>
    <servlet-class>ece.dept.services.Registrationdetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registrationdetails</servlet-name>
    <url-pattern>/Registrationdetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SEstudentlogin</display-name>
    <servlet-name>SEstudentlogin</servlet-name>
    <servlet-class>ece.dept.services.SEstudentlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SEstudentlogin</servlet-name>
    <url-pattern>/SEstudentlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TEstudentlogin</display-name>
    <servlet-name>TEstudentlogin</servlet-name>
    <servlet-class>ece.dept.services.TEstudentlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TEstudentlogin</servlet-name>
    <url-pattern>/TEstudentlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BEstudentlogin</display-name>
    <servlet-name>BEstudentlogin</servlet-name>
    <servlet-class>ece.dept.services.BEstudentlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BEstudentlogin</servlet-name>
    <url-pattern>/BEstudentlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Labassistantlogin</display-name>
    <servlet-name>Labassistantlogin</servlet-name>
    <servlet-class>ece.dept.services.Labassistantlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Labassistantlogin</servlet-name>
    <url-pattern>/Labassistantlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mentorlogin</display-name>
    <servlet-name>Mentorlogin</servlet-name>
    <servlet-class>ece.dept.services.Mentorlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mentorlogin</servlet-name>
    <url-pattern>/Mentorlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBEstudent</display-name>
    <servlet-name>AddBEstudent</servlet-name>
    <servlet-class>ece.dept.services.AddBEstudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBEstudent</servlet-name>
    <url-pattern>/AddBEstudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Accountsectionlogin</display-name>
    <servlet-name>Accountsectionlogin</servlet-name>
    <servlet-class>ece.dept.services.Accountsectionlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accountsectionlogin</servlet-name>
    <url-pattern>/Accountsectionlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>ece.dept.services.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Hodlogin</display-name>
    <servlet-name>Hodlogin</servlet-name>
    <servlet-class>ece.dept.services.Hodlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hodlogin</servlet-name>
    <url-pattern>/Hodlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deletese</display-name>
    <servlet-name>Deletese</servlet-name>
    <servlet-class>ece.dept.services.Deletese</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deletese</servlet-name>
    <url-pattern>/Deletese</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deletestudent</display-name>
    <servlet-name>Deletestudent</servlet-name>
    <servlet-class>ece.dept.services.Deletestudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deletestudent</servlet-name>
    <url-pattern>/Deletestudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deletete</display-name>
    <servlet-name>Deletete</servlet-name>
    <servlet-class>ece.dept.services.Deletete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deletete</servlet-name>
    <url-pattern>/Deletete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deletebe</display-name>
    <servlet-name>Deletebe</servlet-name>
    <servlet-class>ece.dept.services.Deletebe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deletebe</servlet-name>
    <url-pattern>/Deletebe</url-pattern>
  </servlet-mapping>
</web-app>